<footer class="bg-dark py-4">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h5 class="text-white">About</h5>
          <ul class="list-unstyled">
            <li><a class="text-white" href="#">Company</a></li>
            <li><a class="text-white" href="#">History</a></li>
            <li><a class="text-white" href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5 class="text-white">Support</h5>
          <ul class="list-unstyled">
            <li><a class="text-white" href="#">FAQ</a></li>
            <li><a class="text-white" href="#">Contact Us</a></li>
            <li><a class="text-white" href="#">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5 class="text-white">Explore</h5>
          <ul class="list-unstyled">
            <li><a class="text-white" href="#">Movies</a></li>
            <li><a class="text-white" href="#">Theaters</a></li>
            <li><a class="text-white" href="#">Offers</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5 class="text-white">Follow Us</h5>
          <ul class="list-unstyled">
            <li><a class="text-white" href="#">Facebook</a></li>
            <li><a class="text-white" href="#">Twitter</a></li>
            <li><a class="text-white" href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
      <hr class="my-4">
      <p class="text-center text-white small">&copy; BookMyMovie 2023</p>
    </div>
  </footer>
  