<div class="ticket container my-5"  *ngFor="let t of ticketData; index as i">

    <div class="row">

      <div class="col-md-5 text-center">
        <img [src]="movie[i].image" class="img-fluid">
      </div>
      <div class="col-md-7">
        <h1 class="display-4 movie-title">{{ movie[i].name }}</h1>
        <p class="lead">Date: <span class="movie-detail">{{ show[i].date }}</span></p>
        <p class="lead">Time: <span class="movie-detail">{{ show[i].time }}</span></p>
        <p class="lead">Seats Booked: <span class="movie-detail">{{ t.selectedSeats }}</span></p>
        <p class="lead">Screen: <span class="movie-detail">{{ show[i].screenNumber }}</span></p>
        <p class="lead">Amount Paid: <span class="movie-detail">{{ t.totalCost }}</span></p>
      </div>
    </div>
  </div>