<form [formGroup]="movie" (ngSubmit)="onSubmit()" novalidate>
    <div>
        <label for="name">Movie Name:</label>
        <input type="text" id="name" formControlName="name">
        <div *ngIf="movie.get('name')?.touched && movie.get('name')?.invalid">
            <div *ngIf="movie.get('name')?.errors?.['required']" style="color: red;">Name is required
            </div>
        </div>
    </div>
    <div>
        <label for="classicPrice">Classic Ticket Price:</label>
        <input type="text" id="classicPrice" formControlName="classicPrice">
        <div *ngIf="movie.get('classicPrice')?.touched && movie.get('classicPrice')?.invalid">
            <div *ngIf="movie.get('classicPrice')?.errors?.['required']" style="color: red;">classicPrice is required
            </div>
        </div>
    </div>
    <div>
        <label for="classicPlusPrice">ClassicPlus Ticket Price:</label>
        <input type="text" id="classicPlusPrice" formControlName="classicPlusPrice">
        <div *ngIf="movie.get('classicPlusPrice')?.touched && movie.get('classicPlusPrice')?.invalid">
            <div *ngIf="movie.get('classicPlusPrice')?.errors?.['required']" style="color: red;">classicPlusPrice is required
            </div>
        </div>
    </div>
    <div>
        <label for="primePrice">Prime Ticket Price:</label>
        <input type="text" id="primePrice" formControlName="primePrice">
        <div *ngIf="movie.get('primePrice')?.touched && movie.get('primePrice')?.invalid">
            <div *ngIf="movie.get('primePrice')?.errors?.['required']" style="color: red;">primePrice is required
            </div>
        </div>
    </div>
    <div>
        <label for="type">Movie Type:</label>
        <input type="text" id="type" formControlName="type">
        <div *ngIf="movie.get('type')?.touched && movie.get('type')?.invalid">
            <div *ngIf="movie.get('type')?.errors?.['required']" style="color: red;">type is required
            </div>
        </div>
    </div>
    <div>
        <label for="language">Movie Language:</label>
        <input type="text" id="language" formControlName="language">
        <div *ngIf="movie.get('language')?.touched && movie.get('language')?.invalid">
            <div *ngIf="movie.get('language')?.errors?.['required']" style="color: red;">language is required
            </div>
        </div>
    </div>
    <div>
        <label for="description">Movie description:</label>
        <textarea rows="4" cols="40" id="description" formControlName="description"></textarea>
          
        <div *ngIf="movie.get('description')?.touched && movie.get('description')?.invalid">
            <div *ngIf="movie.get('description')?.errors?.['required']" style="color: red;">description is required
            </div>
        </div>
    </div>
    <div>
        <label for="newimage">Movie Image:</label>
        <input type="file" id="newimage" (change)="uploadMovieImage($event)" formControlName="newimage">
        <!-- <img src={{movieData.image}}> -->
    </div>
    <div>
        <label for="releaseDate">Movie Release Date:</label>
        <input type="date" id="releaseDate" formControlName="releaseDate">
        <div>{{currentDate}}</div>
    </div>
    <div>
        <label for="visuals">Movie present In visuals:</label>
        <input type="text" id="visuals" formControlName="visuals">
        <div *ngIf="movie.get('visuals')?.touched && movie.get('visuals')?.invalid">
            <div *ngIf="movie.get('visuals')?.errors?.['required']" style="color: red;">visuals is required
            </div>
        </div>
    </div>

    <div formGroupName='cast'>
        <div *ngFor="let c of casts.controls; let i = index">
            <div [formGroupName]="i">
                <div>
                    <label for="name">Cast Name:</label>
                    <input type="text" id="name" formControlName="name">
                    <div *ngIf="movie.get('cast.name')?.touched && movie.get('cast.name')?.invalid">
                        <div *ngIf="movie.get('cast.name')?.errors?.['required']" style="color: red;">Name is required
                        </div>
                    </div>
                </div>
                <div>
                    <label for="movieName">In Movie Name:</label>
                    <input type="text" id="movieName" formControlName="movieName">
                    <div *ngIf="movie.get('cast.movieName')?.touched && movie.get('cast.movieName')?.invalid">
                        <div *ngIf="movie.get('cast.movieName')?.errors?.['required']" style="color: red;">movie Name is
                            required
                        </div>
                    </div>
                </div>
                <div>
                    <label for="image">Cast Image:</label>
                    <input type="file" id="image" (change)="uploadCastImage(i,$event)" formControlName="image">
                    <div *ngFor="let s of movieData.cast">
                        <img src={{s.imageData}}><br>
                    </div>
                </div>
                <button type="button" (click)="addCast()">Add</button>
                <button [disabled] (click)="removeCast(i)">Remove</button>
            </div>
        </div>
    </div>
    <div formGroupName='crew'>
        <div *ngFor="let c of crews.controls; let i = index">
            <div [formGroupName]="i">
                <div>
                    <label for="name">Crew Name:</label>
                    <input type="text" id="name" formControlName="name">
                    <div *ngIf="movie.get('crew.name')?.touched && movie.get('crew.name')?.invalid">
                        <div *ngIf="movie.get('crew.name')?.errors?.['required']" style="color: red;">Name is required
                        </div>
                    </div>
                </div>
                <div>
                    <label for="role">In Movie Name:</label>
                    <input type="text" id="role" formControlName="role">
                    <div *ngIf="movie.get('crew.role')?.touched && movie.get('crew.role')?.invalid">
                        <div *ngIf="movie.get('crew.role')?.errors?.['required']" style="color: red;">movie Name is
                            required
                        </div>
                    </div>
                </div>
                <div>
                    <label for="image">Crew Image:</label>
                    <input type="file" id="image" (change)="uploadCrewImage(i,$event)" formControlName="image">
                    <div *ngFor="let s of movieData.crew">
                        <img src={{s.imageData}}>
                    </div>
                </div>
                <button type="button" (click)="addCrew()">Add</button>
                <button [disabled] (click)="removeCrew(i)">Remove</button>
            </div>
        </div>
    </div>
    <div>
        <label for="status">Movie statu:</label>
        <select formControlName="status">
            <option selected value="Enable">Enable</option>
            <option value="Disable">Disable</option>
        </select>
    </div>
    <button type="submit" [disabled]="movie.invalid">Submit</button>
</form>
