<form [formGroup]="changePassword" (ngSubmit)="onSubmit()" novalidate>
    <h2>Change Password</h2>
    <div class="form-group">
      <label for="password">Old Password</label>
      <input type="password" id="password" formControlName="password" class="form-control">
      <div *ngIf="changePassword.get('password')?.touched && changePassword.get('password')?.invalid">
        <div *ngIf="changePassword.get('password')?.errors?.['required']" style="color: red;">password is required</div>
      </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" formControlName="newPassword" class="form-control">
        <div *ngIf="changePassword.get('newPassword')?.touched && changePassword.get('newPassword')?.invalid">
          <div *ngIf="changePassword.get('newPassword')?.errors?.['required']" style="color: red;">password is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="cpassword">Confirm Password</label>
        <input type="password" id="cpassword" formControlName="cpassword" class="form-control">
        <div *ngIf="changePassword.get('cpassword')?.touched && changePassword.get('cpassword')?.invalid">
          <div *ngIf="changePassword.get('cpassword')?.errors?.['required']" style="color: red;">password is required</div>
        </div>
      </div>
    <button type="submit" class="btn btn-primary" [disabled]="changePassword.invalid">Submit</button>
  </form>
  