<form [formGroup]="registration" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input type="text" class="form-control" id="firstName" formControlName="firstName">
    <div *ngIf="registration.get('firstName')?.touched && registration.get('firstName')?.invalid">
      <div *ngIf="registration.get('firstName')?.errors?.['required']" class="invalid-feedback">First Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input type="text" class="form-control" id="lastName" formControlName="lastName">
    <div *ngIf="registration.get('lastName')?.touched && registration.get('lastName')?.invalid">
      <div *ngIf="registration.get('lastName')?.errors?.['required']" class="invalid-feedback">Last Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" formControlName="email">
    <div *ngIf="registration.get('email')?.touched && registration.get('email')?.invalid">
      <div *ngIf="registration.get('email')?.errors?.['required']" class="invalid-feedback">Email is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" formControlName="password">
    <div *ngIf="registration.get('password')?.touched && registration.get('password')?.invalid">
      <div *ngIf="registration.get('password')?.errors?.['required']" class="invalid-feedback">password is required</div>
      <div *ngIf="registration.get('password')?.errors?.['minlength']" class="invalid-feedback">password should be at least 6 characters</div>
    </div>
  </div>
  <div class="form-group">
    <label for="mobileNo">Mobile No:</label>
    <input type="text" class="form-control" id="mobileNo" formControlName="mobileNo">
    <div *ngIf="registration.get('mobileNo')?.touched && registration.get('mobileNo')?.invalid">
      <div *ngIf="registration.get('mobileNo')?.errors?.['required']" class="invalid-feedback">Mobile no. is required</div>
      <div *ngIf="registration.get('mobileNo')?.errors?.['minlength']" class="invalid-feedback">Mobile no. should be 10 digit</div>
      <div *ngIf="registration.get('mobileNo')?.errors?.['maxlength']" class="invalid-feedback">Mobile no. should be 10 digit</div>
    </div>
  </div>
  <div class="form-group">
    <label for="city">City:</label>
    <input type="text" id="city" formControlName="city" class="form-control" >
    <div *ngIf="registration.get('city')?.touched && registration.get('city')?.invalid">
      <div *ngIf="registration.get('city')?.errors?.['required']" style="color: red;">city is required</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="registration.invalid">Submit</button>
</form>