<table class="table table-bordered movieList">
    <thead>
      <tr class="tableHeadings">
        <th (click)="sortColumn('name', currentSortOrder)">Name <i class="fa fa-sort"></i></th>
        <th>Type</th>
        <th (click)="sortColumn('language', currentSortOrder)">Languages<i class="fa fa-sort"></i></th>
        <th>Casts</th>
        <th (click)="sortColumn('releaseDate', currentSortOrder)">ReleaseDate<i class="fa fa-sort"></i></th>
        <th>Visuals</th>
        <th (click)="sortColumn('status', currentSortOrder)">Status<i class="fa fa-sort"></i></th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies" class="tableRows">
        <td>
          <span class="movieName" style="font-weight: bold; font-size: large;">{{ movie.name }} </span><br>
          <img src={{movie.image}} alt="image_{{movie.name}}" class="movieImage">
        </td>
        <td>{{ movie.type }}</td>
        <td>{{ movie.language }}</td>
        <td>
          <ul>
            <li *ngFor="let c of movie.cast">{{ c.name }}</li>
          </ul>
        </td>
        <td>{{ movie.releaseDate }}</td>
        <td>{{ movie.visuals }}</td>
        <td>
          <button class="btn submitButton" [ngClass]="movie.status" (click)="changeMovieStatus(movie.status,movie.id)">
            {{ movie.status }}
          </button>
        </td>
        <td>
          <button class="btn btn-secondary editButton" (click)="editForm(movie.id)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>

  