.container {
    display: flex;
    flex-wrap: wrap;
  }

  .row {
    display: flex;
  }

  .seat {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 10px;
    text-align: center;
    padding: 5px 3px 5px 0px;
    box-shadow: 5px 5px 10px rgba(74, 159, 234, 0.457);
    cursor: pointer;
  }

  .blankSeat{
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 4px;
    text-align: center;
    
  }

  .selected{
    width: 40px;
    height: 40px;
    border: 1px solid springgreen;
    border-radius: 4px;
    background-color:springgreen;
    margin: 10px;
    text-align: center;
    padding: 5px 3px 5px 0px;
    box-shadow: 5px 5px 10px rgba(74, 159, 234, 0.457);
    cursor: pointer;
  }

  .reserved{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color:gray;
    box-shadow: 5px 5px 10px rgba(74, 159, 234, 0.457);
    border-radius: 4px;
    margin: 10px;
    text-align: center;
    padding: 5px 3px 5px 0px;
    cursor: pointer;
  }
.hrLine{
  margin-top: 0;
}